// Specific CSS for your home-page
.wrapper {
  background-color: #FFE066;
  min-height: 100vh;
  padding: 40px;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;
  border: 20px solid white;
  #top {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
}

.social {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-flow: column;
  font-size: 20px;
  a {
    color: #247BA0;
    text-decoration: none;
  }
}

.top {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: auto;
  h4 {
    color: #247BA0;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0px;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 0px;
    color: #247BA0;
  }
  img {
  }
}

.container {
  padding-top: 40px;
}

#title {
  color: #247BA0;
  font-weight: 800;
  letter-spacing: 2px;
}

.card {
  width: 70%;
  margin: auto;
  height: 220px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  margin-bottom: 30px;
  position: relative;
  .img {
    background-color: #247BA0;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
  }
  .text-card {
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-around;
      h4 {
      color: #163172;
      letter-spacing: 2px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
    }
  }
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  button:hover {
    background-color: transparent;
    border: none;
  }
  button:focus {
    background-color: transparent;
    border: none;
    outline: 0;
  }
}

.modal-content {
  padding: 40px;
  position: relative;
  h2 {
    color: #163172;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
  }
  a {
    color: #163172;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
  }
  p {
    color: #163172;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
  }
  button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }
  button:focus {
    outline: none;
  }
}


 // COLORS
 // #FFE066
 // #247BA0
 // #F25F5C
 // #70C1B3
