// Specific CSS for your home-page
.wrapper {
  background-color: #D6E4F0;
  min-height: 100vh;
  padding: 40px;
  position: relative;
  #top {
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    width: 70px;
  }
}

.social {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-flow: column;
  font-size: 20px;
  a {
    color: #163172;
    text-decoration: none;
  }
}

.top {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: auto;
  h4 {
    color: #163172;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0px;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 0px;
  }
  img {
    margin: auto;
    width: 150px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
}

.container {
  padding-top: 40px;
}

#title {
  color: #163172;
  font-weight: bold;
  letter-spacing: 2px;
}

.card {
  width: 70%;
  margin: auto;
  height: 220px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  margin-bottom: 30px;
  position: relative;
  .img {
    background-color: #1E56A0;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
  }
  .text-card {
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-around;
      h4 {
      color: #163172;
      letter-spacing: 2px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
    }
  }
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  button:hover {
    background-color: transparent;
    border: none;
  }
  button:focus {
    background-color: transparent;
    border: none;
    outline: 0;
  }
}

.modal-content {
  padding: 40px;
  position: relative;
  border-bottom: 20px solid #163172;
  h2 {
    color: #163172;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
  }
  a {
    color: #163172;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
  }
  p {
    color: #163172;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
  }
  button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
  }
}


.carousel {
  width: 100%;
  align-items: center;
  img {
    margin: auto;
  }
}

.carousel-indicators {
  position: absolute;
  bottom: 50px;
}

#myCarousel {
  width: 100%;
  background-color: white;
  clear: left;
}

.item {
  color: white;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-fade {
  .carousel-inner {
    .item {
          transition-property: opacity;
        }

    .item,
    .active.left,
    .active.right {
       opacity: 0;
      }

    .active,
    .next.left,
    .prev.right {
        opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
  }
}

 // COLORS
 // #F6F6F6
 // #D6E4F0
 // #163172
 // #1E56A0
