// Specific CSS for your home-page
.wrapper {
  background-color: #A8DADC;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;
  border: 12px solid white;
  background-size: cover !important;
  background-repeat: none;
  #title-left {
    position: absolute;
    display: flex;
    top: 0px;
    left: 5px;
    bottom: 5px;
    h3 {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      color: #1D3557;
      margin-top: 18px;
      margin-bottom: 18px;
      font-size: 20px;
    }
    h6 {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      color: #1D3557;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 8px;
    }
  }
}

.social {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  flex-flow: column;
  font-size: 20px;
  a {
    color: #1D3557;
    text-decoration: none;
  }
}

.top {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: auto;
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 0px;
    color: #1D3557;
  }
  h4 {
    color: #1D3557;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
  }
  h5 {
    color: #1D3557;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
  }
  img {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
}

.container-card {
  padding-top: 40px;
}

#title {
  color: #1D3557;
  font-weight: 800;
  letter-spacing: 2px;
}

.card {
  width: 80%;
  margin: auto;
  height: 220px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.7),0 1px 0 0 rgba(0,0,0,0.3);
  margin-bottom: 30px;
  position: relative;
  .img {
    background-color: #457B9D;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
  }
  .text-card {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-around;
      h4 {
      color: #1D3557;
      letter-spacing: 2px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
    }
  }
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  button:hover {
    background-color: transparent;
    border: none;
  }
  button:focus {
    background-color: transparent;
    border: none;
    outline: 0;
  }
}

.modal-content {
  padding: 40px;
  position: relative;
  h2 {
    color: #1D3557;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    margin-top: 0px;
  }
  a {
    color: #1D3557;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
  }
  p {
    color: #1D3557;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
  }
  button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }
  button:focus {
    outline: none;
  }
}

.hvr-float {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

 // COLORS
 // #FFE066
 // #247BA0
 // #F25F5C
 // #70C1B3
